# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson


# HTML
'.text.html.basic':
#	Core
  'Comments':
    'prefix': 'comment'
    'body': """
		<!-- $1 -->$2
	"""
  'HTML Template':
    'prefix': 'html'
    'body': """
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="utf-8">$1
				<title>$2</title>$3
				<link rel="stylesheet" href="${4:css/master.css}">$5
			</head>
			<body>
				$8
				<script src="${6:js/script.js}"></script>$7
			</body>
		</html>
	"""
#	CDN's
  'jQuery JS CDN':
    'prefix': 'jquery'
    'body': """
		<!-- jQuery -->
		<script src="${1:https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>$2
	"""
  'jQuery UI CSS CDN':
    'prefix': 'jqui'
    'body': """
		<!-- jQuery UI -->
		<link rel="stylesheet" href="${1:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css}">
		<link rel="stylesheet" href="${2:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css}">$3
	"""
  'jQuery UI JS CDN':
    'prefix': 'jquijs'
    'body': """
		<!-- jQuery UI -->
		<script src="${1:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>$2
	"""
  'Bootstrap CSS CDN':
    'prefix': 'bootstrap'
    'body': """
		<!-- Bootstrap -->
		<link rel="stylesheet" href="${1:https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">$2
	"""
  'Bootstrap JS CDN':
    'prefix': 'bootstrapjs'
    'body': """
		<!-- Bootstrap JS-->
		${1:<script src="${2:https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>}
		<script src="${3:https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>$4
		<script src="${5:https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>$6
	"""
  'Fontawesome CSS CDN':
    'prefix': 'fontawesome'
    'body': """
		<!-- FontAwesome -->
		<link rel="stylesheet" href="${1:https://use.fontawesome.com/releases/v5.2.0/css/all.css}" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">$2
	"""
  'Fontawesome JS CDN':
    'prefix': 'fontawesomejs'
    'body': """
		<!-- FontAwesome -->
		<script defer src="${1:https://use.fontawesome.com/releases/v5.0.13/js/all.js}" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>$2
	"""
  'Mapbox CSS CDN':
    'prefix': 'mapbox'
    'body': """
		<!-- mapbox -->
		<link rel="stylesheet" href="${1:https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css}">$2
	"""
  'Mapbox JS CDN':
    'prefix': 'mapboxjs'
    'body': """
		<!-- mapbox -->
		<script src="${1:https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js}"></script>$2
	"""
  'Google Charts Loader JS CDN':
    'prefix': 'gcharts'
    'body': """
		<!-- Google Charts -->
		<script src="${1:https://www.gstatic.com/charts/loader.js}"></script>$2
	"""
#	Source tags
  'Link tag':
    'prefix': 'link'
    'body': """
		<link rel="stylesheet" href="${1:css/master.css}">$2
	"""
  'Style tag':
    'prefix': 'style'
    'body': """
		<style>
			$1
		</style>$2
	"""
  'Script tag':
    'prefix': 'script'
    'body': """
		<script${1: src="${2:js/script.js}"}>$3</script>$4
	"""
#	Content tags
  'Div tag':
    'prefix': 'div'
    'body': """
		<div ${1:class="$2"}>
			$3
		</div>$4
	"""
#	FontAwesome
  'FontAwesome Chevrons':
    'prefix': 'fachevrons'
    'body': """
		<i class="fas fa-chevron-${1:(left,right)}"></i>$3
	"""


# Pug
'.source.pug':
#	Core
  'HTML Template':
    'prefix': 'html'
    'body': """
		<!DOCTYPE html>
		html(lang="${1:en}" dir="${2:ltr}")
			head
				meta(charset="utf-8")

		    	title
					| $3

			body
				$4
	"""
#	CDN's
  'jQuery JS CDN':
    'prefix': 'jquery'
    'body': """
		// jQuery
		script(src="${1:https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}")$2
	"""
  'jQuery UI CSS CDN':
    'prefix': 'jqui'
    'body': """
		// jQuery UI
		link(rel="stylesheet", href="${1:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css}")
		link(rel="stylesheet", href="${2:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css}")
	"""
  'jQuery UI JS CDN':
    'prefix': 'jquijs'
    'body': """
		// jQuery UI
		script(src="${1:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}")$2
	"""
  'Bootstrap CSS CDN':
    'prefix': 'bootstrap'
    'body': """
		// Bootstrap
		link(rel="stylesheet", href="${1:https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")$2
	"""
  'Bootstrap JS CDN':
    'prefix': 'bootstrapjs'
    'body': """
		// Bootstrap JS
		${1:script(src="${2:https://code.jquery.com/jquery-3.3.1.slim.min.js}", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")}
		script(src="${3:https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
		script(src="${4:https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")$5
	"""
  'Fontawesome CSS CDN':
    'prefix': 'fontawesome'
    'body': """
		// FontAwesome
		link(rel="stylesheet", href="${1:https://use.fontawesome.com/releases/v5.2.0/css/all.css}", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")$2
	"""
  'Fontawesome JS CDN':
    'prefix': 'fontawesomejs'
    'body': """
		// FontAwesome
		script(defer, src="${1:https://use.fontawesome.com/releases/v5.0.13/js/all.js}", integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe", crossorigin="anonymous")$2
	"""
  'Mapbox CSS CDN':
    'prefix': 'mapbox'
    'body': """
		// mapbox
		link(rel="stylesheet", href="${1:https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css}")$2
	"""
  'Mapbox JS CDN':
    'prefix': 'mapboxjs'
    'body': """
		// mapbox
		script(src="${1:https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js}")$2
	"""
  'Google Charts Loader JS CDN':
    'prefix': 'gcharts'
    'body': """
		// Google Charts
		script(src="${1:https://www.gstatic.com/charts/loader.js}")$2
	"""
#	Source tags
  'Link tag':
    'prefix': 'link'
    'body': """
		link(rel="stylesheet", href="${1:css/master.css}")$2
	"""
  'Style tag':
    'prefix': 'style'
    'body': """
		style
			| $1
	"""
  'Script tag':
    'prefix': 'script'
    'body': """
		script${1:( src="${2:js/script.js}")}
			| $3
	"""
#	Content tags
  'Div tag':
    'prefix': 'div'
    'body': """
		div${1:(class="$2")}
			| $3
	"""
#	FontAwesome
  'FontAwesome Chevrons':
    'prefix': 'fachevrons'
    'body': """
		i(class="fas fa-chevron-${1:(left,right)}")$3
	"""


# Handlebars
'.text.html.handlebars':
#	Core
  'HTML Template':
    'prefix': 'html'
    'body': """
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="utf-8">$1
				<title>$2</title>$3

				<link rel="stylesheet" href="${4:/css/master.css}">$5
			</head>
			<body>
				${8:{{{body}}}}

				<script src="${6:/js/script.js}"></script>$7
			</body>
		</html>
	"""
#	CDN's
  'jQuery JS CDN':
    'prefix': 'jquery'
    'body': """
		<!-- jQuery -->
		<script src="${1:https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>$2
	"""
  'jQuery UI CSS CDN':
    'prefix': 'jqui'
    'body': """
		<!-- jQuery UI -->
		<link rel="stylesheet" href="${1:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css}">
		<link rel="stylesheet" href="${2:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css}">$3
	"""
  'jQuery UI JS CDN':
    'prefix': 'jquijs'
    'body': """
		<!-- jQuery UI -->
		<script src="${1:https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>$2
	"""
  'Bootstrap CSS CDN':
    'prefix': 'bootstrap'
    'body': """
		<!-- Bootstrap -->
		<link rel="stylesheet" href="${1:https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">$2
	"""
  'Bootstrap JS CDN':
    'prefix': 'bootstrapjs'
    'body': """
		<!-- Bootstrap JS-->
		${1:<script src="${2:https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>}
		<script src="${3:https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>$4
		<script src="${5:https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>$6
	"""
  'Fontawesome CSS CDN':
    'prefix': 'fontawesome'
    'body': """
		<!-- FontAwesome -->
		<link rel="stylesheet" href="${1:https://use.fontawesome.com/releases/v5.2.0/css/all.css}" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">$2
	"""
  'Fontawesome JS CDN':
    'prefix': 'fontawesomejs'
    'body': """
		<!-- FontAwesome -->
		<script defer src="${1:https://use.fontawesome.com/releases/v5.0.13/js/all.js}" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>$2
	"""
  'Mapbox CSS CDN':
    'prefix': 'mapbox'
    'body': """
		<!-- mapbox -->
		<link rel="stylesheet" href="${1:https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css}">$2
	"""
  'Mapbox JS CDN':
    'prefix': 'mapboxjs'
    'body': """
		<!-- mapbox -->
		<script src="${1:https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js}"></script>$2
	"""
  'Google Charts Loader JS CDN':
    'prefix': 'gcharts'
    'body': """
		<!-- Google Charts -->
		<script src="${1:https://www.gstatic.com/charts/loader.js}"></script>$2
	"""
#	Source tags
  'Link tag':
    'prefix': 'link'
    'body': """
		<link rel="stylesheet" href="${1:/css/master.css}">$2
	"""
  'Style tag':
    'prefix': 'style'
    'body': """
		<style>
			$1
		</style>$2
	"""
  'Script tag':
    'prefix': 'script'
    'body': """
		<script${1: src="${2:/js/script.js}"}>$3</script>$4
	"""
#	Content tags
  'Div tag':
    'prefix': 'div'
    'body': """
		<div ${1:class="$2"}>
			$3
		</div>$4
	"""
#	FontAwesome
  'FontAwesome Chevrons':
    'prefix': 'fachevrons'
    'body': """
		<i class="fas fa-chevron-${1:(left,right)}"></i>$3
	"""


# JS
'.source.js':
#	Overrides
  'JS Function':
    'prefix': 'func'
    'body': """
		function $1($2){
			$3
		}$4
	"""
  'JS for loop':
    'prefix': 'for'
    'body': """
		for(var i = 0; i < ${1:Array}.length; i++){
			$2
		}$3
	"""
  'JS switch':
    'prefix': 'switch'
    'body': """
		switch(${1:expression}){
			case ${2:expression}:
				$3
				break;
			default:
				$4
		}$5
	"""
  'JS try':
    'prefix': 'try'
    'body': """
		try {
			$1
		}
		catch(err){
			$2
		}$3
	"""
  'JS if':
    'prefix': 'if'
    'body': """
		if(${1:true}){
			$2
		}$3
	"""
  'JS if else':
    'prefix': 'ife'
    'body': """
		if(${1:true}){
			$2
		} else{
			$3
		}$4
	"""
  'JS iife':
    'prefix': 'iife'
    'body': """
		(function(){
			$1
		}());$2
	"""
  'JS Require':
    'prefix': 'req'
    'body': """
		const $1 = require("$1");
	"""
#	Events
  'jQuery Click Event':
    'prefix': 'jqclick'
    'body': """
		$("$1").click(function(){
			$2
		});$3
	"""
  'jQuery Ready Event':
    'prefix': 'jqready'
    'body': """
		$(${1:document}).ready(function(){
			$2
		});$3
	"""
  'jQuery Event Syntax':
    'prefix': 'jqevent'
    'body': """
		$($1).${2:event}(function(){
			$3
		});$4
	"""
#	Functions
  'JS XHTTP':
    'prefix': 'xhttp'
    'body': """
		var ${1:xhttp} = new XMLHttpRequest();
		${1:xhttp}.onreadystatechange = function(){
			${2:// xhttp.readyState
			// 	0- "Request not initialised",
			// 	1- "Server connection established",
			// 	2- "Request recieved",
			// 	3- "Processing the request",
			// 	4- "Request finished, response ready"
			// xhttp.status (https://en.wikipedia.org/wiki/list_of_HTTP_status_codes)
			// 	200- OK
			// 	403- Forbidden / need login
			// 	404- Not found}

			if(this.status == 403){
				${3:console.log("XHTTP Request: 403 - Forbidden");}
				return;
			}else if(this.status == 404){
				${4:console.log("XHTTP Request: 404 - Not Found");}
				return;
			}

			if(this.status == 200 && this.readyState == 4){
				${5:console.log("XHTTP Request: 200 - OK");
				console.log(this.responseText);}
			}
		}
		${1:xhttp}.open("${6:GET}", "$7", ${8:true});
		${1:xhttp}.send($9);$10
	"""
  'jQuery getJSON':
    'prefix': 'jqjson'
    'body': """
		$.getJSON("$1", function(data){
			$2
		}).done(function(data){
			$3
		});$4
	"""
  'jQuery Ajax':
    'prefix': 'jqajax'
    'body': """
		$.ajax({
			type: "${1:GET}",
			url: "$2",
			dataType: "${3:json}",
			success: function(${4:data}){
				${5:console.log(${4:data});}$6
			},
			error: function(err){
				${7:console.log("Error "+err.status);
				console.log(err);}
			}
		});
	"""
#	Methods
  'JS sort':
    'prefix': 'sort'
    'body': """
		${1:Array}.sort(${2:function(a,b){
			return ${3:a-b}
		}});$4
	"""
  'JS forEach':
    'prefix': 'foreach'
    'body': """
		${1:Array}.forEach(function(currentValue,index){
			$2
		});$3
	"""
#	Other
  'JS random number':
    'prefix': 'randint'
    'body': """
		${1:var ${2:randInt} = }Math.floor(${3:0} + (Math.random() * ${4:100}));$5
	"""
