# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.html.basic':
#	Core
  'Comments':
    'prefix': 'comment'
    'body': """
		<!-- $1 -->$2
	"""
#	CDN's
  'jQuery CDN':
    'prefix': 'jquery'
    'body': """
		<!-- jQuery -->
		<script src="${1:https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>$2
	"""
  'Bootstrap CDN':
    'prefix': 'bootstrap'
    'body': """
		<!-- Bootstrap -->
		<link rel="stylesheet" href="${1:https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}">$2
	"""
  'Bootstrap JS CDN':
    'prefix': 'bootstrapjs'
    'body': """
		<!-- Bootstrap JS-->
		${1:<script src="${2:https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>$3
	"""
  'Fontawesome CDN':
    'prefix': 'fontawesome'
    'body': """
		<!-- FontAwesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	"""
  'Fontawesome JS CDN':
    'prefix': 'fontawesomejs'
    'body': """
		<!-- FontAwesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
	"""
#	Source tags
  'Link tag':
    'prefix': 'link'
    'body': """
		<!-- Custom CSS -->
		<link rel="stylesheet" href="${1:css/master.css}">$2
	"""
  'Style tag':
    'prefix': 'style'
    'body': """
		<style>
			$1
		</style>
	"""
  'Script tag':
    'prefix': 'script'
    'body': """
		<!-- Custom JS -->
		<script${1: src="${2:js/js.js}"}>$3</script>
	"""
#	Content tags
  'Div tag':
    'prefix': 'div'
    'body': """
		<div ${1:class="$2"}>
			$3
		</div>
	"""

'.source.js':
#	Events
  'jQuery Click Event':
    'prefix': 'jqclick'
    'body': """
		$("$1").click(function(){
			$2
		});$3
	"""
  'jQuery Ready Event':
    'prefix': 'jqready'
    'body': """
		$(${1:document}).ready(function(){
			$2
		});$3
	"""
  'jQuery Event Syntax':
    'prefix': 'jqevent'
    'body': """
		$($1).${2:event}(function(){
			$3
		});$4
	"""
#	Functions
  'jQuery Ajax':
    'prefix': 'jqajax'
    'body': """
		$.getJSON("$1",
			function(data){
				for(var i = 0; i < data.length; i++){
					${2:items}.push(data[i]);
				}
			}).done(function(data){
				$3
			});$4
	"""
  'JS Function':
    'prefix': 'func'
    'body': """
		function $1($2){
			$3
		}
	"""
  'JS for loop':
    'prefix': 'for'
    'body': """
		for(var i=0; i < ${1:Array}.length; i++){
			$2
		}
	"""
#	Methods
  'JS sort method':
    'prefix': 'sort'
    'body': """
		${1:Array}.sort(${2:function(a,b){
			return ${3:a-b}
		}});$4
	"""
#	Other
  'JS random number':
    'prefix': 'randint'
    'body': """
		${1:var ${2:randInt} = }Math.floor(${3:0} + (Math.random() * ${4:100}));$5
	"""
